button .material-icons {
    margin-top: 7px;
}

.item.ng-enter,
.item.ng-move {
    transition: 2s all;
    opacity: 0;
}

.item.ng-enter.ng-enter-active,
.item.ng-move.ng-move-active {
    opacity: 1
}

.item.ng-leave {
    animation: 2s fade_item;
}

@keyframes fade_item {
    from { opacity: 1 }
    to { opacity: 0 }
}