<md-toolbar>
  <div class="md-toolbar-tools">
    <p><strong>RW</strong></p>
    <md-button ng-click="rwCtrl.openSidebar()">
      <md-icon class="mdi mdi-plus-circle"></md-icon>
      New Item
    </md-button>
    <md-button ng-click="rwCtrl.showFilters = true">
      <md-icon class="mdi mdi-magnify"></md-icon>
      Filters
    </md-button>
  </div>
</md-toolbar>
<div class="filters" layout="row" layout-align="center" ng-show="rwCtrl.showFilters">
  <md-input-container>
    <label for="searchTerm">Enter Search Term</label>
    <input type="text" ng-model="rwCtrl.searchTerm" id="searchTerm">
  </md-input-container>
  <md-input-container>
    <label for="categorySelect">Category</label>
    <md-select ng-model="rwCtrl.category" id="categorySelect">
      <md-option ng-repeat="category in rwCtrl.categories" value="{{ category }}">{{ category }}</md-option>
    </md-select>
  </md-input-container>
  <div layout="row">
    <md-button ng-click="rwCtrl.clearFilters()">Clear</md-button>
  </div>
</div>

<ui-view></ui-view>

<md-content class="md-padding"
            layout="row"
            layout-wrap>
  <md-card flex="30" ng-repeat="item in rwCtrl.items |
                                    filter: rwCtrl.searchTerm |
                                    filter: rwCtrl.category  track by $index" class="item">
    <item-card item="item"></item-card>
  </md-card>
</md-content>