<md-toolbar>
  <div class="md-toolbar-tools">
    <p><strong>RW</strong></p>
    <md-button ng-click="rwCtrl.openSidebar()">
      <md-icon class="mdi mdi-plus-circle"></md-icon>
      New Item
    </md-button>
    <md-button ng-click="rwCtrl.showFilters = true">
      <md-icon class="mdi mdi-magnify"></md-icon>
      Filters
    </md-button>
  </div>
</md-toolbar>
<div class="filters" layout="row" layout-align="center" ng-show="rwCtrl.showFilters">
  <md-input-container>
    <label for="searchTerm">Enter Search Term</label>
    <input type="text" ng-model="rwCtrl.searchTerm" id="searchTerm">
  </md-input-container>
  <md-input-container>
    <label for="categorySelect">Category</label>
    <md-select ng-model="rwCtrl.category" id="categorySelect">
      <md-option ng-repeat="category in rwCtrl.categories" value="{{ category }}">{{ category }}</md-option>
    </md-select>
  </md-input-container>
  <div layout="row">
    <md-button ng-click="rwCtrl.clearFilters()">Clear</md-button>
  </div>
</div>

<ui-view></ui-view>

<md-content class="md-padding" layout="row" layout-wrap>
  <md-card flex="30" ng-repeat="item in rwCtrl.items |
                                    filter: rwCtrl.searchTerm |
                                    filter: rwCtrl.category  track by $index" class="item">
    <img ng-src="{{ item.img }}" alt="{{ item.title }}"/>
    <md-card-content>
      <div class="rw-info" ng-show="!showContact">
        <h2 class="md-title">{{ item.title | uppercase }}</h2>
        <h2>{{ item.posted | date:'longDate' }}</h2>
        <h3>{{ item.price | currency }}</h3>
        <p>{{ item.description }}</p>
      </div>
      <div class="rw-contact" ng-show="showContact">
        <p>
          <md-icon class="mdi mdi-account"></md-icon>
          {{ item.contact.name }}
        </p>
        <p>
          <md-icon class="mdi mdi-phone"></md-icon>
          {{ item.contact.phone }}
        </p>
        <p>
          <md-icon class="mdi mdi-email"></md-icon>
          {{ item.contact.email }}
        </p>
      </div>
      <div layout="row">
        <md-button ng-click="showContact = true" ng-show="!showAdmin && !showContact">Contact</md-button>
        <md-button ng-click="showContact = false" ng-show="!showAdmin && showContact">Details</md-button>
        <md-button ng-click="showAdmin = true" ng-show="!showAdmin">Admin</md-button>
        <md-button ng-click="showAdmin = false" ng-show="showAdmin">Close</md-button>
      </div>
      <div class="rw-admin" ng-if="showAdmin">
        <h3>Admin</h3>
        <div layout="row">
          <md-button ng-click="rwCtrl.editItem(item)" class="md-primary">Edit</md-button>
          <md-button ng-click="rwCtrl.removeItem($event, item)" class="md-warn">Delete</md-button>
        </div>
      </div>
    </md-card-content>
  </md-card>
</md-content>